[submodule "external/src/eigen"]
	path = external/src/eigen
	url = https://github.com/PX4/eigen.git
[submodule "external/src/contract-cpp17-20-support"]
	path = external/src/contract
	url = git@github.com:Hryapusek/contract-cpp17-20-support.git
